/* Estilos Generales */
:root {
    --text-color: #245166; /* Agrega esta variable */
    --text-dark: #333333;  /* Para modales/contraste */
    --primary-color: #00b9aa;
    --background-color: rgba(207, 207, 207, 0.514);
    --shadow: 0 4px 6px #00cfbe;
    --shadow-hover: 0 8px 12px rgba(196, 196, 196, 0.562);
}

body {
    font-family: Arial, sans-serif;
    font-size: 22px; /* A帽ade esta l铆nea (ajusta el valor seg煤n necesites) */
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(rgba(202, 202, 202, 0.61), rgba(0, 145, 150, 0.5)), 
    url('img/bg/bg_cucu_v5.jpg'); /* Imagen de fondo con degradado */
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: scroll; /* Cambiado de fixed a scroll */
    color: white;
    color: var(--text-color);
    }

    /* Hack para iOS - Fuerza el redibujado */
body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(202, 202, 202, 0.61), rgba(0, 145, 150, 0.5)), 
    url('img/bg/Grain-Blur-Photo-Effect-by-Sko4_1920_1080_V3.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transform: translate3d(0,0,0); /*  Soluci贸n para iOS */
    z-index: -1;
}
    
.modal-text-container h3 {
    color: var(--text-dark);
}

/* Logos arriba */
.logos {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: var(--background-color);
}

.logos img {
    height: 120px;
}

/* Imagen principal */
.hero-image {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.hero-image img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

/* Cajas de texto */
.text-box {
    background: var(--background-color);
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: var(--shadow);
}

/* Elenco y Productores */
.cast, .producers {
    padding: 20px;
    background-color: var(--background-color);
}

.cast h2, .producers h2 {
    margin-bottom: 20px;
}

.cast-grid, .producers-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--shadow);
    width: 150px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: var(--shadow-hover);
}

.card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 15px;
}

.card h3 {
    margin: 10px 0;
    font-size: 1.0rem; /* Tama帽o de los textos del elenco */
}

/* Modales */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 800px; /* Aumentamos el ancho m谩ximo */
    text-align: left; /* Alineaci贸n a la izquierda */
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
    animation: modalFadeIn 0.3s ease-out;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Columna de la imagen */
.modal-image-container {
    flex: 1;
    max-width: 300px;
}

.modal-image-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Columna de la descripci贸n */
.modal-text-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-text-container h3 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.modal-text-container p {
    font-size: 1.0rem;
    color: #555;
    margin: 0;
    line-height: 1.5;
}

/* Botones de redes sociales */
.social-buttons {
    display: flex;
    gap: 10px; /* Espacio entre los botones */
    margin-top: 15px;
    flex-wrap: wrap; /* Para que los botones se apilen en m贸viles */
}

/* Bot贸n de redes sociales */
.social-buttons .btn-social {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-align: center;
    flex: 1; /* Para que los botones ocupen el mismo espacio */
}

.modal-text-container .btn-social:hover {
    background-color: #007180;
}

/* Responsividad para m贸viles */
@media (max-width: 480px) {
    .social-buttons {
        flex-direction: column; /* Apila los botones en m贸viles */
    }
}

/* Bot贸n de cierre */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.0rem;
    color: #000;
    cursor: pointer;
}

.close:hover {
    color: #555;
}

/* Bot贸n flotante */
.btn-floating {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: var(--shadow);
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(20px);
    -webkit-tap-highlight-color: transparent; /* Para que no tenga resaltado al tocar */
}

.btn-floating.show {
    opacity: 1;
    transform: translateY(0);
}

.btn-floating:hover {
    background-color: #007c76;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
    .logos img {
        height: 40px;
    }

    .card {
        width: 100%;
        max-width: 200px;
    }

    .modal-content {
        margin: 20% auto;
        flex-direction: column;
        align-items: center;
    }

    .modal-image-container {
        max-width: 100%;
    }

    .modal-text-container {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .logos img {
        height: 30px;
    }

    .card {
        max-width: 150px;
    }

    .modal-content {
        padding: 15px;
    }

    .modal-text-container h3 {
        font-size: 1.5rem;
    }

    .modal-text-container p {
        font-size: 1.5rem;
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 2) {
        body {
          background-image: linear-gradient(...), url('mi-bg.webp');
          image-rendering: -webkit-optimize-contrast;
          -webkit-backface-visibility: hidden;
          -webkit-transform: translateZ(0);
        }
      }
      
}